<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>pl.maurycy.darof</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/maurycy/.local/bin/darof</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/maurycy/Library/Logs/darof.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/maurycy/Library/Logs/darof.log</string>
</dict>
</plist>
